extend components/_plantilla.pug
block css
  link(rel="stylesheet", href="../css/main.css")
block header
  header.registro-header
    include components/_header.pug
    block hero-image
      section.container
        div.row.registro-titulo
          div.col.s12
            h1.center-align.white-text Regístrate en News
block contenidos
  main.container
    div.row
      div.col.s12
        div.card-panel
          form(action="")
            div.row.section
              +inputs('first-name', 'Nombre')
              +inputs('last-name', 'Apellidos')
            div.row
              +inputs('email', 'Email')
              +inputs('password', 'Contraseña')
            div.section
              h3.center-align Te interesa noticas de:
            div.section
              div.row
                +checkboxes('Política')
                +checkboxes('Economía')
                +checkboxes('Finanzas')
              div.row
                +checkboxes('Entretenimiento')
                +checkboxes('Cultura')
                +checkboxes('Tecnología')
            div.section
              div.row
                div.col.s12
                  button.btn.waves-effect.waves-light.center-align Enviar
                    i.material-icons.right send
